label {
    display: inline-block;
    width: 120px;
    text-align: right;
}

#comments {
    height: 50px;
    width: 175px;
}

fieldset {
    border-color: gray;
    border-style: solid;
    width: 350px;
}

#submit {
    margin-left: 125px;
}